<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>

<router-outlet></router-outlet> <!-- default outlet -->
<router-outlet name="secondary"></router-outlet>  <!-- secondary outlet -->
<router-outlet name="tertiary"></router-outlet>  <!-- tertiary outlet -->
<router-outlet name="quaternary"></router-outlet>  <!-- quaternary outlet -->
<router-outlet name="quinary"></router-outlet>  <!-- quinary outlet -->
<router-outlet name="senary"></router-outlet>  <!-- senary outlet -->
